[package]
name = "fls"
version = "0.1.1"
edition = "2021"
authors = ["Philippe Llerena<philippe.llerena@gmail.com>"]
description = "a simple command line tool to list frame sequence in friendly way"
readme = "README.md"
license-file = "LICENSE"

[lib]
name = "flslib"
path = "src/lib.rs"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]

[dependencies.regex]
version = "1.7"
# regex currently requires the standard library, you must re-enable it.
features = ["std"]
